<H2 class="direct">Meistgesuchte Anlagegegenstände </H2>
<div id="timespan" class="direct">Letzte Aktualisierung: <SPAN class="date"><STRONG>20. Februar  2012</STRONG></SPAN></div>
<table id="prices">
    <TBODY>
        <tr class="top">
            <TH width="2%" class="right">&nbsp;</TH>
            <TH width="56%">Anlagegegenstand</TH>
            <TH width="16%" class="right"><div align="center">Nutzungsdauer </div></TH>
            <TH width="12%" class="right"><div align="center">Tabellen-Nr.</div></TH>
            <TH width="11%" class="right"><div align="center">Fundstelle</div></TH>
            <TH width="3%" class="right">&nbsp;</TH>
        </tr>
        <tr>
            <td class="right">&nbsp;</td>
            <td class="domain">Abfüllanlagen</td>
            <td class="right"><div align="right">10</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">5.22</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr class="alt">
            <td class="right">&nbsp;</td>
            <td class="domain">Abgasmeßgeräte (für Kfz)</td>
            <td class="right"><div align="right">8</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">3.3.2</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr>
            <td class="right">&nbsp;</td>
            <td class="domain">Abgasmeßgeräte (sonstige)</td>
            <td class="right"><div align="right">8</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">3.3.2</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr class="alt">
            <td class="right">&nbsp;</td>
            <td class="domain">Abkantmaschinen</td>
            <td class="right"><div align="right">13</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">5.27</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr>
            <td class="right">&nbsp;</td>
            <td class="domain">Abrichtmaschinen</td>
            <td class="right"><div align="right">13</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">5.1</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr class="alt">
            <td class="right">&nbsp;</td>
            <td class="domain">Abscheider, Fett-</td>
            <td class="right"><div align="right">5</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">6.7</td>
            <td class="right">&nbsp;</td>
        </tr>
        <tr class="last">
            <td class="right">&nbsp;</td>
            <td class="domain">Abscheider, Magnet-</td>
            <td class="right"><div align="right">6</div></td>
            <td class="right"><div align="right">0</div></td>
            <td class="right">6.8</td>
            <td class="right">&nbsp;</td>
        </tr>

    </TBODY>
</table>