
<div id="alert">
    <P class="title">Impressum</P>
    <p>&nbsp;</p>
    <P class="first"><strong>Verantwortlich (gem. §6 TDG)</strong></P>
    <p>Doppikdata UG (haftungsbeschränkt)</p>
    <p>Kruppstraße 82-100</p>
    <p>D-45145 Essen</p>
    <p>&nbsp;</p>
    <p> Telefon: 01805 - 431 38 40</p>
    <p> Telefax: 01805 - 431 38 41</p>
    <p>&nbsp;</p>
    <p>E-Mail:  info@doppikdata.de</p>
    <p></p>
    <p>&nbsp; </p>
    <p>Geschäftsführer: Oliver Lenz</p>
    <p> Registergericht: AG Essen, HRB 78852</p>
    <p> Umsatzsteuer-Identnummer: DE 214912694</p>
    <p>&nbsp;</p>
    <P class="first"><strong>Hinweis</strong></P>
    <p>Die Doppikdata UG ist als Inhaltsanbieter für die eigenen Inhalte, die sie                  zur Nutzung bereithält, nach den allgemeinen Gesetzen verantwortlich. Von diesen                  eigenen Inhalten sind Querverweise ("Links") auf die von anderen Anbietern                  bereitgehaltenen Inhalte zu unterscheiden. Durch den Querverweis hält die                  Pagedesign GmbH insofern "fremde Inhalte" zur Nutzung bereit, die in dieser Weise                  gekennzeichnet sind: [ <a href="file:///C:/PRODAT/DATEN/Website/Projekte/Kontierungslexikon/dmoz/Woerterbuch8__24M.htm#">LINK</a> ]. Für diese fremden Inhalte ist die Pagedesign                  GmbH nur dann verantwortlich, wenn von ihnen (d.h. auch von einem rechtswidrigen                  bzw. strafbaren Inhalt) positive Kenntnis vorliegt und es technisch möglich                  und zumutbar ist, deren Nutzung zu verhindern (§5 Abs.2 TDG).</p>
    <p>&nbsp;</p>
    <P class="first"><strong>Datenschutz</strong></P>
    <p>
        Die werden eventuell um die Angabe persönlicher                  Informationen gebeten. Die Beantwortung dieser Fragen ist freiwillig. Sämtliche                  auf dieser Website erhobenen persönlichen Daten werden ausschließlich zu                  Ihrer individuellen Betreuung, der Übersendung von Produktinformationen, der                  Unterbreitung von Angeboten oder der Auftragsabwicklung gespeichert, verarbeitet und                  ggf. an unsere Partnerunternehmen weitergegeben. Wir sichern zu, daß Ihre Angaben                  entsprechend den geltenden datenschutzrechtlichen Bestimmungen vertraulich behandelt                  werden.<br>
        Unsere Mitarbeiter haben leider keinen Einfluß auf die Sicherheit der                  Datenübermittlung im Internet. Bitte bedenken Sie dieses vor Ihrer Entscheidung,                  Informationen über das Internet an uns weiterzuleiten.
    </p>
    <p>&nbsp;</p>
    <P class="first"><strong>Markenzeichen</strong></P>
    <p>Marken- oder Warenzeichen wurden in der Regel nicht als solche kenntlich gemacht. Das                  Fehlen einer solchen Kennzeichnung bedeutet nicht, daß es sich um einen freien Namen                  im Sinne des Waren- und Markenzeichenrechts handelt.</p>
    <p>&nbsp;</p>
    <P class="first"><strong>Haftungsbeschränkung</strong></P>
    <p> Diese Website und die darauf angebotene Software wurde mit größtmöglicher Sorgfalt zusammengestellt. Trotzdem können wir für die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen nicht garantieren. Wir schließen jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Website und der darauf angebotenen Software entstehen, aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit seitens kontieren.de bzw. der Doppikdata UG beruhen.</p>
    <p>&nbsp;</p>
    <P class="first"><strong>Copyright</strong></P>
    <P class="first">© 2012 Doppikdata UG. Alle Rechte vorbehalten. Dieses Angebot einschließlich                  aller seiner Teile wie Daten und Bilder ist urheberrechtlich geschützt. Jede Verwendung                  außerhalb der engen Grenzen des Urheberrechtsgesetzes ist ohne Zustimmung unzulässig                  und strafbar. Dies gilt insbesondere für Vervielfältigungen, Übersetzungen,                  Mikroverfilmungen und die Verarbeitung oder Weiterverarbeitung in elektronischen Systemen</P>
</div>
